In [1]:
print("Hello World")

Hello World

In [28]:
L1 = [2,4,6,8,10]
L2 = [1,3,5,7,9]
sumL1 = 0
for i in L1:
  sumL1 = sumL1 + i
print(sumL1)
for i in L2:
  sumL1 = sumL1 + i
print(sumL1)
print(L1 + L2)
print(L1*2)
for i in L1:
  print(i*2)
type(L1)
L1.insert(0,1)
print(L1)

30
55
[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
4
8
12
16
20
[1, 2, 4, 6, 8, 10]

In [84]:
angle = list (range(0,360,30))
print(angle)
angle.append(360)
print(angle)
angle = list (range(0,361,30))
print(angle)
print(angle.index(90) , "," , angle.index(270))
i1=angle.index(90)
i2=angle.index(270)
l1_rev = len(angle) - i1
l2_rev= len(angle) - i2
print(l1_rev, " , " , l2_rev)
subangle = angle[::-1]
print(subangle[3:10])

angle_1 = list (range(0,361,30))
subangle_1 = angle_1[angle_1.index(270):angle_1.index(90)-1:-1]
print(subangle_1)

[0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330]
[0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360]
[0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360]
3 , 9
10  ,  4
[270, 240, 210, 180, 150, 120, 90]
[270, 240, 210, 180, 150, 120, 90]

In [75]:
L1 = [1,2,3,4,5]
L2=L1
L2.remove(3)
print(L1)

L3=[1,2,3,4,5]
L4=L3.copy()
L4.remove(3)
print(L3)

#del(L2[3])
#L3=L1[:]

[1, 2, 4, 5]
[1, 2, 3, 4, 5]

In [65]:
print("Hello World "*5)

def printHello(val):
   if a>=2:
      print("Hello")
      
printHello(5)

Hello World Hello World Hello World Hello World Hello World
Hello

In [0]:
import numpy as np
import tensorflow as tf

In [111]:
t1 = (1,2,3,4)
print(type(t1))
t2=(5,6,7,8)
t1+t2
t1 += t2
t1 = t1 + (9,10,)
print(t1)
t1 = t1[:2] + (15, 20, 25) + t1[2:]
print(t1)
l1 = list(t1)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 15, 20, 25, 3, 4, 5, 6, 7, 8, 9, 10)

In [120]:
d={"Assam":[23,"as",34],"Delhi":[34,"de",35],"Goa":[24,"go",90]}
d1=d["Goa"]
print(d1)
d["Delhi"]=[36,"de",45]
d["Gujarat"]=[49,"Gu",89]
print(d)

[24, 'go', 90]
{'Assam': [23, 'as', 34], 'Delhi': [36, 'de', 45], 'Goa': [24, 'go', 90], 'Gujarat': [49, 'Gu', 89]}

In [144]:
def deg_rad(angle):
  
  return angle * (22/7) * 180

print(deg_rad(360))
  
L1=[30,60,120,180,270,360]

new_L1= lambda angle,rotate: angle / 360 * 22/7 + rotate

print(new_L1(30,deg_rad(90)))

203657.14285714284
50914.54761904762